In [10]:
# นิสิตควรดำเนินการอย่างไรกับ outliners 
# ของการวิเคราะห์ความสัมพันธ์ CAPEX กับ ปีของข้อมูล

import pandas as pd
import numpy as np

dfComTH2 = pd.read_csv('DataComTH2.csv')
# dfComTH2.info()

# สำรวจลักษณะของ CAPEX ร่วมกับ ปี
# สิ่งที่มองหาคือ influence ของ outliners

dfCAPEX_Y = dfComTH2[['CAPEX','DataY']].groupby(by=['DataY']).mean().rename(columns={'CAPEX':'Mean'})
dfCAPEX_Y['Median'] = dfComTH2[['CAPEX','DataY']].groupby(by=['DataY']).median()
dfCAPEX_Y['Skew'] = dfComTH2[['CAPEX','DataY']].groupby(by=['DataY']).skew()
# print(dfComTH2['CAPEX'].skew())
# dfCAPEX_Y
dfComTH2['CAPEX-tx'] = dfComTH2['CAPEX'].apply(lambda x:np.log(x+0.5) if not pd.isna(x) else np.nan)

dfCAPEX_Y = dfComTH2[['CAPEX-tx','DataY']].groupby(by=['DataY']).mean().rename(columns={'CAPEX':'Mean'})
dfCAPEX_Y['Median'] = dfComTH2[['CAPEX-tx','DataY']].groupby(by=['DataY']).median()
dfCAPEX_Y['Skew'] = dfComTH2[['CAPEX-tx','DataY']].groupby(by=['DataY']).skew()
print(dfComTH2['CAPEX'].skew())
dfCAPEX_Y

# outliner influence is gone!

15.765107096919602

       CAPEX-tx    Median      Skew
DataY
2000   4.121939  4.108388  0.249354
2001   4.038400  4.199991 -0.208074
2002   4.398797  4.376914  0.244943
2003   4.383430  4.328969  0.064981
2004   4.633081  4.727857  0.217096
2005   4.759438  4.689399  0.344552
2006   4.567571  4.517119  0.328268
2007   4.454225  4.389976  0.232112
2008   4.455205  4.337244  0.403204
2009   4.072206  3.902175  0.386934
2010   4.280888  4.015013  0.429206
2011   4.396191  4.264914  0.187247
2012   4.642805  4.615705  0.135320
2013   4.690133  4.676169  0.181420
2014   4.599149  4.565733  0.280430
2015   4.530353  4.490778  0.269490
2016   4.648922  4.730849  0.177693
2017   4.577459  4.530064  0.196736
2018   4.523055  4.412144  0.171239
2019   4.449003  4.361007  0.188544
2020   4.218672  4.187713  0.273969
2021   4.179255  4.188700  0.280260

In [22]:
# จำเป็นต้อง impute NumShares ควรดำเนินการอย่างไร

import pandas as np
import random

dfComTH2 = pd.read_csv('DataComTH2.csv')

# ศึกษา ลักษณะของ NumShares 
# เป็นข้อมูล (on the surface, how to read) ซึ่งขึ้นอยู่กับ บริษัท และ ปี

missingDict = {k:int(dfComTH2[dfComTH2['ComName']==k][['NumShares']].isna().sum()) for k in dfComTH2['ComName'].unique()}
dfMissing = pd.DataFrame(missingDict.items(),columns=['ComName','Missing'])
# comNameMissing = dfMissing.sort_values(by=['Missing'],ascending=True).head(15)['ComName']
# พบว่าปีแรกๆ มี numshares น้อยกว่าปีหลังๆ
comNameMissing = dfMissing.sort_values(by=['Missing'],ascending=False).head(20)['ComName']
# พบว่า missing มักเกิดขึ้นกับปีแรกๆ มีจำนวนน้อยมาก missing เกิดขึ้นในช่วงปีหลังๆ

for name in comNameMissing:
  mask = dfComTH2['ComName'] == name
  # print(dfComTH2[mask][['DataY','NumShares']])
    
filledNA = list()
for name in dfComTH2['ComName'].unique():
  filledNA.append(dfComTH2[dfComTH2['ComName']==name][['DataY','NumShares']].fillna(method='bfill'))

dfFilledNA = pd.concat(filledNA)
dfFilledNA.drop(columns=['DataY'],inplace=True)
dfFilledNA.columns = ['bFill']
dfComTH2 = dfComTH2.join(dfFilledNA)

filledNA = list()
for name in dfComTH2['ComName'].unique():
  filledNA.append(dfComTH2[dfComTH2['ComName']==name][['DataY','bFill']].fillna(method='ffill'))
dfFilledNA = pd.concat(filledNA)
dfFilledNA.drop(columns=['DataY'],inplace=True)
dfFilledNA.columns = ['Imputed']
dfComTH2 = dfComTH2.join(dfFilledNA)

comNames = random.choices(dfComTH2['ComName'].unique(),k=10)

# for name in comNameMissing:
for name in comNames:
  mask = dfComTH2['ComName'] == name
  print(dfComTH2[mask][['DataY','NumShares','bFill','Imputed']])

      DataY  NumShares    bFill  Imputed
4482   2000        NaN  119.000  119.000
4483   2002    119.000  119.000  119.000
4484   2003    149.621  149.621  149.621
4485   2004    182.782  182.782  182.782
4486   2005    183.830  183.830  183.830
4487   2006    224.840  224.840  224.840
4488   2007    234.810  234.810  234.810
4489   2008    234.810  234.810  234.810
4490   2009    234.810  234.810  234.810
4491   2010    234.810  234.810  234.810
4492   2011    234.810  234.810  234.810
4493   2012    234.810  234.810  234.810
4494   2013    258.291  258.291  258.291
4495   2014    258.291  258.291  258.291
4496   2015    258.291  258.291  258.291
4497   2016    258.291  258.291  258.291
4498   2017    258.291  258.291  258.291
4499   2018    258.291  258.291  258.291
4500   2019    258.291  258.291  258.291
4501   2020    258.291  258.291  258.291
4502   2021    258.291  258.291  258.291
      DataY  NumShares    bFill  Imputed
9183   2013        NaN  653.151  653.151
9184   2014        NaN  653.151  653.151
9185   2015        NaN  653.151  653.151
9186   2016        NaN  653.151  653.151
9187   2017    653.151  653.151  653.151
9188   2018    800.000  800.000  800.000
9189   2019    800.000  800.000  800.000
9190   2020    800.000  800.000  800.000
9191   2021    800.000  800.000  800.000
      DataY  NumShares      bFill    Imputed
8023   2008        NaN   1019.836   1019.836
8024   2009        NaN   1019.836   1019.836
8025   2011        NaN   1019.836   1019.836
8026   2012        NaN   1019.836   1019.836
8027   2013   1019.836   1019.836   1019.836
8028   2014   1100.000   1100.000   1100.000
8029   2015  11000.000  11000.000  11000.000
8030   2016  11000.000  11000.000  11000.000
8031   2017  11000.000  11000.000  11000.000
8032   2018  11000.000  11000.000  11000.000
8033   2019  11000.000  11000.000  11000.000
8034   2020  11000.000  11000.000  11000.000
8035   2021  11000.000  11000.000  11000.000
      DataY  NumShares     bFill   Imputed
4829   2001     16.340    16.340    16.340
4830   2002    104.457   104.457   104.457
4831   2003    201.219   201.219   201.219
4832   2004    277.685   277.685   277.685
4833   2005    348.735   348.735   348.735
4834   2006    629.661   629.661   629.661
4835   2007    724.536   724.536   724.536
4836   2008    724.536   724.536   724.536
4837   2009    724.536   724.536   724.536
4838   2010    726.576   726.576   726.576
4839   2011    747.656   747.656   747.656
4840   2012    748.786   748.786   748.786
4841   2013    792.221   792.221   792.221
4842   2014    955.096   955.096   955.096
4843   2015   3402.171  3402.171  3402.171
4844   2016   5356.325  5356.325  5356.325
4845   2017   5637.605  5637.605  5637.605
4846   2018   5637.605  5637.605  5637.605
4847   2019   5638.571  5638.571  5638.571
4848   2020   6219.463  6219.463  6219.463
4849   2021   7491.806  7491.806  7491.806
      DataY  NumShares    bFill  Imputed
7597   2010      0.140    0.140    0.140
7598   2011    403.425  403.425  403.425
7599   2012    500.000  500.000  500.000
7600   2013    544.247  544.247  544.247
7601   2014    567.397  567.397  567.397
7602   2015    600.000  600.000  600.000
7603   2016    600.000  600.000  600.000
7604   2017    600.000  600.000  600.000
7605   2018    600.000  600.000  600.000
7606   2019    600.000  600.000  600.000
7607   2020    600.000  600.000  600.000
7608   2021    600.000  600.000  600.000
      DataY  NumShares      bFill    Imputed
5492   2004   1239.048   1239.048   1239.048
5493   2005        NaN   1428.570   1428.570
5494   2006   1428.570   1428.570   1428.570
5495   2007   1421.903   1421.903   1421.903
5496   2008   1428.570   1428.570   1428.570
5497   2009   1428.570   1428.570   1428.570
5498   2010   1428.570   1428.570   1428.570
5499   2011   1428.570   1428.570   1428.570
5500   2012   1428.570   1428.570   1428.570
5501   2013   1428.570   1428.570   1428.570
5502   2014   1428.570   1428.570   1428.570
5503   2015   1428.570   1428.570   1428.570
5504   2016   1428.570   1428.570   1428.570
5505   2017  14285.700  14285.700  14285.700
5506   2018  14285.700  14285.700  14285.700
5507   2019  14285.700  14285.700  14285.700
5508   2020  14285.700  14285.700  14285.700
5509   2021  14285.700  14285.700  14285.700
      DataY  NumShares    bFill  Imputed
6119   2003     44.700   44.700   44.700
6120   2004     99.871   99.871   99.871
6121   2005    130.000  130.000  130.000
6122   2006    130.000  130.000  130.000
6123   2007     83.530   83.530   83.530
6124   2008    130.000  130.000  130.000
6125   2009    130.000  130.000  130.000
6126   2010    130.000  130.000  130.000
6127   2011    130.000  130.000  130.000
6128   2012    130.000  130.000  130.000
6129   2013    650.000  650.000  650.000
6130   2014    650.000  650.000  650.000
6131   2015    650.000  650.000  650.000
6132   2016    650.000  650.000  650.000
6133   2017    650.000  650.000  650.000
6134   2018    650.000  650.000  650.000
6135   2019    650.000  650.000  650.000
6136   2020    650.000  650.000  650.000
6137   2021    650.000  650.000  650.000
      DataY  NumShares    bFill  Imputed
1828   2000     10.800   10.800   10.800
1829   2001     10.800   10.800   10.800
1830   2002     10.800   10.800   10.800
1831   2003    108.000  108.000  108.000
1832   2004    108.000  108.000  108.000
1833   2005    108.000  108.000  108.000
1834   2006    108.000  108.000  108.000
1835   2007    108.000  108.000  108.000
1836   2008    108.000  108.000  108.000
1837   2009    108.000  108.000  108.000
1838   2010    108.000  108.000  108.000
1839   2011    108.000  108.000  108.000
1840   2012    108.000  108.000  108.000
1841   2013    108.000  108.000  108.000
1842   2014    108.000  108.000  108.000
1843   2015    108.000  108.000  108.000
1844   2016    108.000  108.000  108.000
1845   2017    108.000  108.000  108.000
1846   2018    108.000  108.000  108.000
1847   2019    108.000  108.000  108.000
1848   2020    108.409  108.409  108.409
1849   2021    107.805  107.805  107.805
      DataY  NumShares    bFill  Imputed
5874   2003     32.710   32.710   32.710
5875   2004    153.479  153.479  153.479
5876   2005    200.000  200.000  200.000
5877   2006    201.030  201.030  201.030
5878   2007    208.253  208.253  208.253
5879   2008    301.402  301.402  301.402
5880   2009    289.748  289.748  289.748
5881   2010    287.777  287.777  287.777
5882   2011    287.777  287.777  287.777
5883   2012    287.777  287.777  287.777
5884   2013    287.777  287.777  287.777
5885   2014    287.777  287.777  287.777
5886   2015    287.777  287.777  287.777
5887   2016    287.777  287.777  287.777
5888   2017    287.777  287.777  287.777
5889   2018    287.777  287.777  287.777
5890   2019    287.777  287.777  287.777
5891   2020    287.777  287.777  287.777
5892   2021    315.515  315.515  315.515
      DataY  NumShares  bFill  Imputed
1784   2000       48.0   48.0     48.0
1785   2001       48.0   48.0     48.0
1786   2002        NaN   48.0     48.0
1787   2003       48.0   48.0     48.0
1788   2004       48.0   48.0     48.0
1789   2005       48.0   48.0     48.0
1790   2006       48.0   48.0     48.0
1791   2007       48.0   48.0     48.0
1792   2008       48.0   48.0     48.0
1793   2009       48.0   48.0     48.0
1794   2010       48.0   48.0     48.0
1795   2011       48.0   48.0     48.0
1796   2012       48.0   48.0     48.0
1797   2013       48.0   48.0     48.0
1798   2014       48.0   48.0     48.0
1799   2015       48.0   48.0     48.0
1800   2016       48.0   48.0     48.0
1801   2017       48.0   48.0     48.0
1802   2018       48.0   48.0     48.0
1803   2019       48.0   48.0     48.0
1804   2020       48.0   48.0     48.0
1805   2021       48.0   48.0     48.0

In [38]:
from sklearn.impute import KNNImputer
import pandas as pd

dfComTH2 = pd.read_csv('DataComTH2.csv')

dfComTH2KNN = dfComTH2.drop(columns=['DataD','ComName','GlobID','NAICS']).copy()
KNNImp = KNNImputer(n_neighbors=5)
dfMissKNN = pd.DataFrame(KNNImp.fit_transform(dfComTH2KNN),columns=dfComTH2KNN.columns)
dfMissKNN = dfMissKNN.join(dfComTH2[['ComName']])
              
comNames = random.choices(dfComTH2['ComName'].unique(),k=10)

# for name in comNames:
#   mask = dfMissKNN['ComName'] == name
#   print(dfMissKNN[mask][['DataY','NumShares']])

mask = dfMissKNN['ComName'] == 'SCG CERAMICS PCL'

dfMissKNN = dfMissKNN.rename(columns={'NumShares':'SharesImp'})
dfMissKNN = dfMissKNN.join(dfComTH2['NumShares'])
dfMissKNN[mask][['DataY','NumShares','SharesImp']]
# dfMissKNN.info()

      DataY  NumShares  SharesImp
219  2000.0        NaN   157.3976
220  2001.0        NaN   611.0964
221  2002.0        NaN  2751.9284
222  2003.0        NaN  1607.0588
223  2004.0        NaN  2532.8710
224  2005.0        NaN  1324.0284
225  2006.0        NaN  1804.5246
226  2007.0        NaN  2797.6978
227  2008.0        NaN    80.5488
228  2009.0        NaN   258.9436
229  2010.0        NaN    97.6316
230  2011.0        NaN   200.7208
231  2012.0        NaN  7435.0772
232  2013.0        NaN   387.9396
233  2014.0        NaN   825.6602
234  2015.0        NaN  8053.3246
235  2016.0        NaN  1532.0200
236  2017.0        NaN  1532.0200
237  2018.0   5962.621  5962.6210
238  2019.0   5962.621  5962.6210
239  2020.0   6002.714  6002.7140
240  2021.0   5836.040  5836.0400

<font size='+2'><u>Week-11</u></font><br>
HTML scraping -> beautifulsoup<br>
NLP (natural language processing) pipeline<br>
.Thai NLP<br>
. X X X<br>
.find similar article -> cosine simlarity<br>
.topic modeling -> LDA (Latent Dirichlet Allocation) (week-12)<br>

In [44]:
import pandas as pd
from bs4 import BeautifulSoup

# ขั้นตอนการทำงาน
# 1. อ่าน file HTML เข้า 'bs4'
# 2. หา element ใน HTML ที่ต้องการ โดย bs4 object
# 3. extract ข้อมูล ของ element นั้น

htmlFile = open('blognone.html','r')
htmlDoc = htmlFile.read()
htmlFile.close()
bs4doc = BeautifulSoup(htmlDoc,'html.parser')
# print(bs4doc.prettify())

articles = list()
articleBoxes = bs4doc.find_all('div',class_='node clearfix')
for box in articleBoxes:
  # print(box.prettify())
  article = dict()
  articleTitle = box.find('a') # หา tag <a> ตัวแรก
  article['title'] = articleTitle.attrs['title']
  articleContent = box.find_all('p')
  articleText = ''
  for p in articleContent:
    articleText += p.text
  article['text'] = articleText
  articles.append(article)
  # print(article['title'])
  # print(article['text'])
  # print('=====')

dfArticles = pd.DataFrame(articles)
display(dfArticles)
dfArticles.to_json('blognone.json',orient='table')

,title,text
0,ร้อนแรงดั่งไฟเออร์ ผู้ใช้ GeForce 4090 รายงานป...,มีผู้ใช้การ์ดจอ NVIDIA GeForce RTX 4090 รุ่นให...
1,"ผู้บริหาร Apple ระบุ ""จะทำตามกฎหมาย EU"" แต่ไม่...",หลัง EU ผ่านกฎหมายให้อุปกรณ์อิเล็กทรอนิกส์ต้อง...
2,ฟีเจอร์ SFTP บน Azure Blob Storage เข้าสู่สถาน...,เมื่อเดือนพฤศจิกายน 2021 Microsoft ได้ประกาศเพ...
3,Meta เปิดตัวเซิร์ฟเวอร์รุ่นใหม่ Grand Teton ใช...,ในงานประชุม Open Compute Global Summit 2022 เม...
4,Stripe ผู้ให้บริการโซลูชั่นการชำระเงิน เปิดให้...,Stripe สตาร์ทอัพที่ให้บริการโซลูชั่นการชำระเงิ...
5,ซัมซุงเริ่มปล่อยฟีเจอร์โหมดส่งเครื่องซ่อม Main...,ซัมซุงประกาศปล่อยฟีเจอร์ Maintenance Mode ที่ช...
6,สิ้นสุดยุคขิปขาดแคลน Texas Instrument ระบุตลาด...,วันนี้บริษัทเซมิคอนดักเตอร์รายสำคัญอย่าง Texas...
7,Google Home ออกเวอร์ชันเว็บ ยังดูได้เฉพาะภาพจา...,กูเกิลออกไคลเอนต์ของแอพ Google Home เวอร์ชันเว...
8,Linus เสนอให้เคอร์เนลลินุกซ์หยุดซัพพอร์ตซีพียู...,Linus Torvalds แสดงความเห็นเรื่องสถาปัตยกรรมซี...
9,Unity ประกาศจะออกเอนจินเกมเวอร์ชัน Windows on Arm,เอนจินเกมชื่อดัง Unity ประกาศรองรับ Windows on...
10,Spotify ร้องเรียน Apple ผูกขาดการค้าอีกครั้ง ค...,Spotify ออกมาเปิดศึกกับแอปเปิลรอบใหม่อีกครั้ง ...
11,Microsoft ไตรมาสล่าสุด รายได้รวมโต 11% รายได้จ...,ไมโครซอฟท์รายงานผลประกอบการไตรมาสที่ 1 ตามปีกา...
12,"Alphabet ไตรมาส 3/2022 รายได้โต 6%, รายได้จากโ...",Alphabet บริษัทแม่ของกูเกิล รายงานผลประกอบการข...
13,Spotify ไตรมาสล่าสุด จำนวนผู้ใช้งานเพิ่มเป็น 4...,Spotify รายงานผลประกอบการของไตรมาสที่ 3 ปี 202...
14,ไมโครซอฟท์นำ Age of Empires II และ IV มาลงคอนโ...,ไมโครซอฟท์ประกาศนำเกม Age of Empires สองภาคมาล...
15,Vercel เปิดตัว Next.js 13 เพิ่มโฟลเดอร์ /app อ...,Vercel เปิดตัว Next.js 13 โดยมีความเปลี่ยนแปลง...
16,Vercel เปิดตัว Turbopack โครงการทดแทน Webpack ...,Vercel ผู้สร้าง Next.js เปิดตัวโครงการ Turbopa...
17,OpenSSL แจ้งเตือน เตรียมปล่อยแพตช์อุดช่องโหว่ค...,OpenSSL ประกาศแจ้งเตือนล่วงหน้าว่าโครงการกำลัง...
18,ซีอีโอ Getty Images บอกเรื่องการขายภาพจาก AI ว...,ไล่เลี่ยกับการประกาศข่าวของ Shutterstock ในการ...
19,และแล้ววันนี้ก็มาถึง Shutterstock จับมือ OpenA...,สำหรับช่างภาพผู้ขายงานผ่านเว็บภาพสต็อคต่างๆ คง...
20,Volkswagen ยอมถอย เตรียมเลิกใช้ปุ่มแบบสัมผัสบน...,แฟชันอย่างหนึ่งในวงการรถยนต์ระยะหลังคือลดการใช...
21,ซัมซุงเผยแผนการปล่อยอัพเดต One UI 5.0 (Android...,ซัมซุงประกาศตารางเวลาปล่อยอัพเดต One UI 5.0 รุ...
22,คนขับแท็กซี่ชาวสิงคโปร์ ใช้เวลา 9 เดือนเปลี่ยน...,Gazali Ahmad ชายสิงคโปร์ได้เปลี่ยนสายอาชีพจากค...

In [46]:
# unzip

import zipfile as zf

filePath = 'bkknews/{0}'
newsZF = zf.ZipFile(filePath.format('bkknews.zip'),mode='r')
# print(filePath.format('bkknews.zip'))

for file in newsZF.namelist():
  newsFile = newsZF.open(file)
  fileHTML = open(filePath.format(file),mode='w',encoding='utf-8')
  fileHTML.write(str(newsFile.read(),'utf-8'))
  fileHTML.close()
newsZF.close()
print('DONE')

DONE

In [57]:
import os
import pandas as pd
from bs4 import BeautifulSoup

filePath = 'bkknews'
fileList = os.listdir(filePath)
fileList = [f for f in fileList if f[-4:] == 'html']

htmlFile = open(filePath+'/{0}'.format(fileList[1]),'r')
htmlDoc = htmlFile.read()
htmlFile.close()
bs4doc = BeautifulSoup(htmlDoc,'html.parser')
# print(bs4doc.prettify())

contentBoxes = bs4doc.find_all('div',class_='content-detail')
articleText = ''
for box in contentBoxes:
  articleContent = box.find_all('p')
  for p in articleContent:
    articleText += p.text

articleText = articleText.replace('\n\n\n','')
print(articleText)

นายสมพงษ์ รุ่งนิรัติศัย ประธานคณะผู้บริหาร ธุรกิจโลตัส ประเทศไทย กล่าวว่า พื้นฐานที่สำคัญของการเป็นผู้นำ New SMART Retail คือ นโยบายและแผนงานด้านความยั่งยืน โดย โลตัส ได้ดำเนินงานตามแนวทางด้านความยั่งยืนมาโดยตลอด และด้วยสถานการณ์ด้านสิ่งแวดล้อม สังคม และเศรษฐกิจที่เปลี่ยนแปลงไปอย่างมากในช่วงที่ผ่านมา โลตัส จึงได้ทบทวนและยกระดับการดำเนินงานด้านความยั่งยืน สู่นโยบายที่เราประกาศในวันนี้ คือ Vision 2030. Actions every day. ที่มุ่งเน้นการสร้างความยั่งยืนจากการดำเนินงานในทุกๆ วัน เพื่อให้บรรลุตามเป้าหมายที่ได้วางไว้ภายในปี ค.ศ. 2030 นโยบายด้านความยั่งยืนของ โลตัส สอดคล้องกับเป้าหมายด้านความยั่งยืนทั้ง 15 ข้อภายใต้ เครือเจริญโภคภัณฑ์ โดยจากการประเมินประเด็นสำคัญด้านความยั่งยืน (Materiality Assessment) ล่าสุด เราได้กำหนดประเด็นสำคัญ 5 ด้าน ที่ครอบคลุมทั้งด้านสิ่งแวดล้อม สังคม และการกำกับดูแลกิจการ (ESG) คือโดยมีการกำหนดยุทธศาสตร์และแผนงานที่ชัดเจนสำหรับแต่ละประเด็นสำคัญ เพื่อให้องค์กรสามารถบรรลุเป้าหมายที่วางไว้ภายในปี ค.ศ. 2030ประเด็นด้านสังคม (Social)ในฐานะธุรกิจค้าปลีกแบบ omni-channel ที่จำหน่ายสินค้าหลากหลาย โดยเฉพาะอย่างยิ่งสินค้าประเภทอาหาร ที่มีคุณภาพสูงในราคาที่เอื้อมถึง ผ่านช่องทางทั้งในสาขาและออนไลน์ โลตัส มุ่งมั่นในการสนับสนุนการมีสุขภาพและสุขภาวะที่ดีของคนไทย โดยได้ตั้งเป้าหมายว่า ภายในปี ค.ศ. 2030 ทุกตะกร้าสินค้าของลูกค้าจะต้องมีผลิตภัณฑ์ที่ส่งเสริมสุขภาพและสุขภาวะที่ดี และเพื่อขับเคลื่อนไปสู่วิสัยทัศน์ (vision) ดังกล่าว โลตัสได้วางแผนดำเนินการ (actions) ใน 4 ด้าน คือ โลตัส ตั้งเป้าหมายว่า ภายในปี ค.ศ. 2030 จะสามารถสร้างงานได้จำนวน 200,000 ตำแหน่ง และสนับสนุน ผู้ประกอบการ SME และเกษตรกร โดยเป็นการสร้างงานทั้งทางตรงและทางอ้อม ให้กับกลุ่มคนต่าง ๆ ในสังคม อาทิ ขยายผลการจ้างงานเยาวชน และผู้สูงอายุ ที่ปฏิบัติงานในสาขา รวมทั้ง โลตัส ยังเป็นแพลตฟอร์มแห่งโอกาสให้กับผู้ประกอบการ SME และเกษตรกรไทย โดยใช้แพลตฟอร์มของโลตัส ทั้งในสาขา ศูนย์การค้า และออนไลน์ เพื่อเป็นช่องทางการจำหน่ายสินค้า สร้างรายได้ที่ยั่งยืนให้กับผู้ประกอบการไทย ประเด็นด้านการกำกับดูแลกิจการ (Governance)ในฐานะธุรกิจค้าปลีก ห่วงโซ่อุปทานของ โลตัส ครอบคลุมตั้งแต่ต้นน้ำไปจนถึงปลายน้ำ และเกี่ยวเนื่องกับผลิตภัณฑ์ที่หลากหลาย เป้าหมายของเราภายในปี ค.ศ. 2030 คือ สินค้าแบรนด์ของโลตัสที่มีความเสี่ยงด้านความยั่งยืน มีระบบตรวจสอบย้อนกลับได้ตลอดห่วงโซ่ และคู่ค้าสำคัญลำดับที่ 1 (critical tier 1 suppliers) รวมถึงผู้ผลิตสินค้าแบรนด์ของโลตัสทุกรายได้รับการประเมินความเสี่ยงประเด็นด้านความยั่งยืนและการทวนสอบ 100% โดยครอบคลุมมิติที่หลากหลายตั้งแต่ คุณภาพและความปลอดภัยของสินค้า กระบวนการผลิตสินค้า แรงงาน สิทธิมนุษยชน สวัสดิภาพสัตว์ การจัดการด้านสิ่งแวดล้อม การใช้ทรัพยากรอย่างยั่งยืน เป็นต้น  ประเด็นด้านสิ่งแวดล้อม (Environmental) เป้าหมายของ โลตัส คือ การเป็นองค์กรที่มีความเป็นกลางทางคาร์บอน (Carbon Neutral) ภายในปี 2030 และองค์กรที่มีการปล่อยก๊าซเรือนกระจกสุทธิเป็นศูนย์ (Net Zero) ภายในปี 2050 ซึ่งได้มีการจัดทำแผนการดำเนินการ (actions) เพื่อมุ่งสู่ทั้งสองเป้าหมาย หลายรูปแบบ รวมถึง การลดการปล่อย ก๊าซเรือนกระจก ทั้งทางตรงและทางอ้อม โดยในปี ค.ศ. 2021 โลตัส ในประเทศไทยและมาเลเซีย สามารถลดการปล่อยก๊าซเรือนกระจกที่เกิดจากการดำเนินธุรกิจลง กว่า 15% เมื่อเทียบกับปี 2020 ผ่านกิจกรรมต่าง ๆ รวมถึง การติดตั้งแผงโซล่าร์เซลล์บนหลังคาสาขาและศูนย์กระจายสินค้า โดยมีแผนงานติดตั้ง 1,042 สาขา มีกำลังผลิตรวม 135mw ภายในปี ค.ศ. 2024, การใช้รถไฟฟ้า (EV) ในการขนส่งสินค้า เป็นต้นนอกจากนั้น โลตัส จะเดินหน้าปลูกต้นไม้อย่างต่อเนื่อง เพิ่มเติมจากการปลูกต้นไม้ไปแล้วกว่า 20 ล้านต้น ในช่วงเวลากว่าสองทศวรรษที่ผ่านมา และจะยังผลักดันการลดการปล่อยก๊าซเรือนกระจก ร่วมกับผู้มีส่วนได้ส่วนเสียในห่วงโซ่อุปทานต่อไป เป้าหมายของ โลตัส คือ ลดปริมาณของเสียในการนําไปฝังกลบและลดขยะอาหารเป็นศูนย์ ภายในปี ค.ศ. 2030 และบรรจุภัณฑ์สินค้าแบรนด์ของโลตัสทั้งหมด 100% ผลิตจากวัสดุที่รีไซเคิลได้ภายในปี ค.ศ. 2025สำหรับการดำเนินงาน (actions) ในด้านการลดขยะอาหารนั้น โลตัส ประสบความสำเร็จในการลดปริมาณขยะอาหารอย่างต่อเนื่องตลอดระยะเวลา 4 ปีที่ผ่านมา ตั้งแต่ โลตัส เป็นธุรกิจค้าปลีกรายแรกในประเทศไทยที่เริ่มวัดและเปิดเผยข้อมูลขยะอาหาร โดยปัจจุบันได้บริจาคอาหารที่จำหน่ายไม่หมดแต่ยังรับประทานได้ให้กับผู้ยากไร้และองค์กรการกุศลรวมกว่า 2.87 ล้านมื้อ และได้บริจาคอาหารที่รับประทานไม่ได้แล้วกว่า 51,000 กิโลกรัม เพื่อเป็นอาหารสัตว์และทำปุ๋ย เพื่อขับเคลื่อนการลดขยะอาหารในธุรกิจให้เป็นศูนย์ตามวิสัยทัศน์ โลตัส จะดำเนินงานภายใต้กลยุทธ์ Farm to Fork เพื่อลดขยะอาหารตั้งแต่ต้นน้ำจนถึงปลายน้ำ ซึ่งรวมถึงการวางแผนการเพาะปลูกร่วมกับเกษตรกร การขนส่งสินค้าด้วยรถควบคุมอุณหภูมิ การบริหารจัดการอาหารสดอย่างมีประสิทธิภาพ นวัตกรรมบรรจุภัณฑ์ ขยายการบริจาคอาหารที่จำหน่ายไม่หมดในแต่ละวันร่วมกับพันธมิตรต่างๆ ตลอดจนถึงการสร้างการรับรู้ในภาคครัวเรือนเกี่ยวกับขยะอาหารและการแยกขยะที่ถูกต้อง สำหรับการดำเนินงาน (actions) ด้านบรรจุภัณฑ์ที่ยั่งยืน โลตัส ได้ตั้งเป้าหมายให้บรรจุภัณฑ์สินค้าแบรนด์ของโลตัสทั้งหมด 100% ผลิตจากวัสดุที่รีไซเคิลได้ภายในปี ค.ศ. 2025 ซึ่งปัจจุบันมีความคืบหน้าไปมากจนเกือบบรรลุเป้าหมายดังกล่าว โดยบรรจุภัณฑ์ประเภทอาหารสดและสินค้าอุปโภคทั้งหมด 100% สามารถรีไซเคิลได้แล้ว และหากดูในภาพรวมทั้งหมดความคืบหน้าอยู่ที่ 98.8%อีกส่วนสำคัญของแผนงานด้านบรรจุภัณฑ์คือ การรีไซเคิล ทั้งการรีไซเคิลขยะที่เกิดจากการดำเนินงานภายในธุรกิจของโลตัสเอง และที่สำคัญคือการช่วยให้ลูกค้าและประชาชนสามารถแยกและรีไซเคิลขยะได้อย่างสะดวกผ่านสาขาของโลตัส โดยตั้งแต่เริ่มดำเนินการตั้งจุดรับขยะเพื่อนำไปรีไซเคิล โลตัส สามารถรวบรวมขวดพลาสติกได้เกือบ 3 ล้านขวด พลาสติกยืดกว่า 1.5 ล้านกิโกรัม และกล่องและลังกระดาษกว่า 157 ล้านกิโลกรัม เพื่อนำไปรีไซเคิลได้ทั้งหมด และพร้อมจะเดินหน้าจับมือกับพันธมิตรเพิ่มเติม รวมถึงซัพพลายเออร์ผู้ผลิตสินค้าประเภทต่างๆ เพื่อเก็บรวมรวมบรรจุภัณฑ์ที่ใช้แล้วกลับเข้าสู่ระบบเพื่อนำไปรีไซเคิลให้ได้ต่อไป "โลตัส เน้นการลงมือปฏิบัติในทุกๆ วัน เพื่อสร้างความยั่งยืน ซึ่งเป็นการทำงานที่บูรณาการความร่วมมือของทุกภาคส่วนภายในธุรกิจของเรา รวมถึงการทำงานร่วมกับพันธมิตรทั้งภาครัฐ ภาคเอกชน และภาคประชาชน เพื่อขับเคลื่อนให้เกิดการเปลี่ยนแปลงที่แท้จริง โดยจะมีการติดตามความคืบหน้าในการดำเนินงานอย่างต่อเนื่องและเปิดเผยข้อมูลอย่างโปร่งใสในทุกปี การเป็นผู้นำ New SMART Retail คือการเป็นผู้ประกอบการค้าปลีก ที่ดำเนินธุรกิจอยู่บนพื้นฐานของความยั่งยืน ธุรกิจใดก็ตามจะไม่สามารถอยู่รอดและเติบโตได้ หากไม่คำนึงถึงการดูแลผู้มีส่วนได้ส่วนเสียตลอดห่วงโซ่คุณค่า สังคม ชุมชน และสิ่งแวดล้อม ให้สามารถเติบโตไปได้พร้อมๆ กัน ซึ่งสอดคล้องกับค่านิยม 3 ประโยชน์ของเครือเจริญโภคภัณฑ์ ในการคำนึงถึงประโยชน์ของประเทศและประชาชน ก่อนประโยชน์ของธุรกิจเสมอ" นายสมพงษ์ กล่าวสรุป

In [68]:
import os
import pandas as pd
from bs4 import BeautifulSoup

filePath = 'bkknews'
fileList = os.listdir(filePath)
fileList = [f for f in fileList if f[-4:] == 'html']

articles = dict()
articles['file'] = list()
articles['text'] = list()

for file in fileList:
  htmlFile = open(filePath+'/{0}'.format(file),'r')
  htmlDoc = htmlFile.read()
  htmlFile.close()
  bs4doc = BeautifulSoup(htmlDoc,'html.parser')
# print(bs4doc.prettify())

  contentBoxes = bs4doc.find_all('div',class_='content-detail')
  articleText = ''
  for box in contentBoxes:
    articleContent = box.find_all('p')
    for p in articleContent:
      articleText += p.text

  articleText = articleText.replace('\n\n\n','')
  articleText = articleText.replace('\xa0','')
  if len(articleText) > 10:
    articles['file'].append(file)
    articles['text'].append(articleText)
    
    
dfArticles = pd.DataFrame(articles)
dfArticles.to_json('bkknews.json',orient='table')
print('DONE')

DONE

<font size='+2'>NLP data prep pipeline</font><br>
1. การแยกคำ (tokenization)<br>
2. การหาคำร่วม (N-Grams)<br>
3. stopword (คำซึ่งไม่มีประโยชน์) (week-12)<br>
4. การสร้าง "vector" ข้อมูลการเกิดขึ้นของคำ (vectorization)(week-12)<br>

อะไรคือวัตถุประสงค์ของ pipline นี้ <br>
extract ข้อมูล และ จัดระเบียบข้อมูล <br>

ข้อมูลคืออะไร<br>
1. การมีอยู่ของคำ (bag of words)<br>
2. การมีอยู่ของคำ และ ความสำคัญของคำในประโยค (word embedding)<br>

In [73]:
from pythainlp import tokenize # dictionary based + heuristic based
from pythainlp.corpus.common import thai_words
from pythainlp.util import dict_trie
import pandas as pd

news = pd.read_json('bkknews.json',orient='table')

# news.info()

dictTH = set(thai_words())
dictTH = dict_trie(dict_source=dictTH)

words=list()
for text in news['text']:
  words.append([t for t in tokenize.word_tokenize(text,custom_dict=dictTH) if len(t) > 2])
  # print(w)

news['words'] = words
news

,file,text,words
0,1034093.html,ผู้สื่อข่าวจังหวัดปราจีนบุรีรายงานว่า พบอดีตห...,"[ผู้สื่อข่าว, จังหวัด, ปราจีนบุรี, รายงาน, ว่า..."
1,1034191.html,นายสมพงษ์ รุ่งนิรัติศัย ประธานคณะผู้บริหาร ธุร...,"[นาย, พงษ์, รุ่ง, นิรัติศัย, ประธาน, คณะ, ผู้บ..."
2,1034272.html,บริษัท ซีพีเอส ชิปปิ้ง แอนด์ โลจิสติกส์ จำกัดห...,"[บริษัท, พีเอส, ชิป, ปิ้ง, แอนด์, โลจิสติกส์, ..."
3,1034280.html,คณบดีคณะนิติศาสตร์ มหาวิทยาลัยรังสิตและประธานม...,"[คณบดี, คณะนิติศาสตร์, มหาวิทยาลัยรังสิต, และ,..."
4,1034281.html,มาตรการช่วย ‘ลูกหนี้’ น้ำท่วม ร่วมพูดคุยกับคุณ...,"[มาตรการ, ช่วย, ลูกหนี้, น้ำท่วม, ร่วม, พูดคุย..."
5,1034282.html,สถานการณ์น้ำท่วมในพื้นที่อำเภอชุมพวง จังหวัดนค...,"[สถานการณ์, น้ำท่วม, พื้นที่, อำเภอ, ชุม, พวง,..."
6,1034284.html,ผู้สื่อข่าวลงพื้นที่สำรวจราคาจำหน่ายผักสดภายใน...,"[ผู้สื่อข่าว, พื้นที่, สำรวจ, ราคา, จำหน่าย, ผ..."
7,1034285.html,สถานการณ์น้ำท่วม ในพื้นที่จังหวัดพิจิตร โดยเฉ...,"[สถานการณ์, น้ำท่วม, พื้นที่, จังหวัด, พิจิตร,..."
8,1034289.html,พร้อมฟังมุมมองภาคอสังหา​ริมทรัพย์​ไทย​ เห็นตรง...,"[พร้อม, ฟัง, มุมมอง, ภาค, อสังหา, ริม, ทรัพย์,..."
9,1034290.html,รองปลัดกระทรวงการคลัง รักษาราชการแทน อธิบดีกรม...,"[รอง, ปลัด, กระทรวงการคลัง, รักษา, ราชการ, แทน..."
10,1034293.html,กลุ่มดุสิตธานี ต้อนรับการเดินทางทั่วโลกอย่างต่...,"[กลุ่ม, ดุสิต, ธานี, ต้อนรับ, การ, เดินทาง, ทั..."
11,1034295.html,ที่ทำเนียบรัฐบาล นายอนุชา บูรพชัยศรี รองเลขาธิ...,"[ที่, ทำเนียบรัฐบาล, นาย, อนุชา, บูร, ชัยศรี, ..."
12,1034334.html,นายจุรินทร์ ลักษณวิศิษฏ์ รองนายกรัฐมนตรีและรัฐ...,"[นาย, ริน, ลักษณ, วิศิษฏ์, รองนายกรัฐมนตรี, แล..."
13,1034337.html,นายมนตรี ลาวัลย์ชัยกุล ประธานเจ้าหน้าที่บริหาร...,"[นาย, มนตรี, วัลย์, ชัย, กุล, ประธาน, เจ้าหน้า..."
14,1034347.html,นายอลงกรณ์ พลบุตร ที่ปรึกษารัฐมนตรีว่าการกระทร...,"[นาย, อลงกรณ์, บุตร, ที่ปรึกษา, รัฐมนตรี, ว่าก..."
15,1034354.html,เจ้าชายอับดุลลาซิซ บิน ซัลมาน รัฐมนตรีพลังงานข...,"[เจ้าชาย, อับ, ดุล, บิน, ซัล, มาน, รัฐมนตรี, พ..."
16,1034360.html,นายเข้มแข็ง ยุติธรรมดำรง อธิบดีกรมส่งเสริมการเ...,"[นาย, เข้มแข็ง, ยุติธรรม, ดำรง, อธิบดี, กรมส่ง..."
17,1034365.html,นายสุพัฒนพงษ์ พันธ์มีเชาว์ รองนายกรัฐมนตรีและร...,"[นาย, พัฒน, พงษ์, พันธ์, เชาว์, รองนายกรัฐมนตร..."
18,1034379.html,"""ราคาน้ำมัน พรุ่งนี้ 2565 ล่าสุด"" อัปเดตข้อมูล...","[ราคา, น้ำมัน, พรุ่งนี้, 2565, ล่าสุด, อัปเดต,..."
19,1034381.html,“ราคาทองวันนี้”26ต.ค.65เปลี่ยนแปลงล่าสุดครั้งท...,"[ราคา, ทอง, วันนี้, ต.ค., เปลี่ยนแปลง, ล่าสุด,..."

In [79]:
# หาคำร่วม N-Grams
# คำใด มักจะปรากฎอยู่ด้วยกัน

from nltk.util import ngrams
from collections import Counter

allWords = list()
for words in news['words']:
  allWords += words

# len(allWords)
biGrams = ngrams(allWords,2)
wordsBiGrams = Counter(biGrams)
print(wordsBiGrams.most_common(10))
print()
triGrams = ngrams(allWords,3)
wordsTriGrams = Counter(triGrams)
print(wordsTriGrams.most_common(20))

[(('ประเทศ', 'ไทย'), 15), (('ล้าน', 'บาท'), 13), (('ซึ่ง', 'เป็น'), 12), (('ของ', 'โลตัส'), 11), (('อย่าง', 'ต่อเนื่อง'), 10), (('ของ', 'ประเทศ'), 10), (('ซื้อ', 'ราคา'), 10), (('ราคา', 'น้ำมัน'), 10), (('ภายใน', 'ค.ศ.'), 9), (('การ', 'ใช้'), 9)]

[(('ภายใน', 'ค.ศ.', '2030'), 6), (('บริษัท', 'พีเอส', 'ชิป'), 5), (('พีเอส', 'ชิป', 'ปิ้ง'), 5), (('ชิป', 'ปิ้ง', 'แอนด์'), 5), (('ปิ้ง', 'แอนด์', 'โลจิสติกส์'), 5), (('แอนด์', 'โลจิสติกส์', 'จำกัด'), 5), (('โลจิสติกส์', 'แบบ', 'ครบวงจร'), 5), (('การ', 'ให้', 'ความช่วยเหลือ'), 5), (('กิโลกรัม', 'บาท', 'ปัจจุบัน'), 5), (('ได้มา', 'ซึ่ง', 'ที่ดิน'), 5), (('ซึ่ง', 'ที่ดิน', 'เพื่อ'), 5), (('ที่ดิน', 'เพื่อ', 'ใช้'), 5), (('เพื่อ', 'ใช้', 'เป็น'), 5), (('ใช้', 'เป็น', 'ที่อยู่อาศัย'), 5), (('ราคา', 'น้ำมัน', 'พรุ่งนี้'), 5), (('ราคา', 'ทอง', 'วันนี้'), 5), (('สินค้า', 'แบรนด์', 'ของ'), 4), (('แบรนด์', 'ของ', 'โลตัส'), 4), (('การ', 'ปล่อย', 'ก๊าซ'), 4), (('ปล่อย', 'ก๊าซ', 'เรือนกระจก'), 4)]

In [84]:
# นำ n-gram มาเป็น "custom dict"

from pythainlp import tokenize # dictionary based + heuristic based
from pythainlp.corpus.common import thai_words
from pythainlp.util import dict_trie
import pandas as pd

news = pd.read_json('bkknews.json',orient='table')

# news.info()

dictTH = set(thai_words())
for gramWords,gramCount in wordsBiGrams.most_common(10):
  dictTH.add(''.join(gramWords))
dictTH.add('สุพัฒนพงษ์')
dictTH.add('พันธ์มีเชาว์')
dictTH.add('พลบุตร')
dictTH = dict_trie(dict_source=dictTH)

words=list()
for text in news['text']:
  words.append([t for t in tokenize.word_tokenize(text,custom_dict=dictTH) if len(t) > 2])
  # print(w)

news['words'] = words
news.to_json('bkknews.json',orient='table')
print('DONE')

DONE